{% extends "base.html" %}
{% block heading %}

    <title>{{ character }}</title>

{% endblock %}


{% block content %}

    <h1>{{ character }}</h1>

    <div class="container">
        <div class="row">
            {% if character.role.name %}
                Role: {{ character.role.name }}
            {% endif %}
        </div>
    </div>

    <h2>Points</h2>
    <div class="container">
        <div class="row">
            {% if points %}
                {% for p in points %}
                    {% if p.total > 0 %}
                        <div class="row">
                            {{ p }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                No character points are available.
            {% endif %}
        </div>
    </div>

    <h2>Traits</h2>
    <div class="container">
        <div class="row">
            {% if traits %}
                {% for t in traits %}
                    {% if t.current > 0 %}
                        <div class="row">
                            {{ t }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                No character traits are available.
            {% endif %}
        </div>
    </div>

    <h2>Statistics</h2>
    <div class="container">
        <div class="row">
            {% if stats %}
                {% for s in stats %}
                    {% if s.current > 0 %}
                        <div class="row">
                            {{ s }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                No character statistics are available.
            {% endif %}
        </div>
    </div>

    <h2>Skills</h2>
    <div class="container">
        <div class="row">
            {% if skills %}
                {% for s in skills %}
                    {% if s.current > 0 %}
                        <div class="row">
                            {{ s }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                No character skills are available.
            {% endif %}
        </div>
    </div>

    <h2>History</h2>
    <div class="container">
        <div class="row">
            {% if history %}
                {% for h in history %}
                    <div class="row">
                        {{ h }}
                    </div>
                {% endfor %}
            {% else %}
                No character history available.
            {% endif %}
        </div>
    </div>

    <h2>Related NPC's</h2>
    <div class="container">
        <div class="row">
            {% if npcs %}
                {% for n in npcs %}
                    {% ifchanged n.npc %}
                        <div class="row">
                            <h3><a href="{% url 'npc' n.npc.id %}">{{ n.npc }}</a></h3>
                        </div>
                    {% endifchanged %}
                    {{ n }}
                {% endfor %}
            {% else %}
                No NPC's available.
            {% endif %}
        </div>
    </div>

{% endblock %}
