{% if character_list %}
    {% if role_list %}
        {% for r in role_list %}
            <li>{{ r }}</li>
            <ul>
            {% for c in character_list %}
                {% if c.role == r %}
                    <li>
                        <a href="{% url 'character' c.id %}">{{ c }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endfor %}
        </ul>
    {% else %}
        {% for c in character_list %}
            <li>
                <a href="{% url 'character' c.id %}">{{ c }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% else %}
    <p>No characters are available.</p>
{% endif %}
