# local files
*.sqlite*
*.pyc
*.pdf
.vscode/
# CharacterCreator/migrations/*.py
MakeRPG/settings.py
db.json
ignore.txt

# excess goodies
FNFF/
Shop/
MakeRPG/static/
CharacterCreator/migrations/

# Elastic Beanstalk Files
.ebextensions/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
static/
media/
Examples/*/*.csv
