container_commands:
  migrate:
    command: "source /var/app/venv/bin/activate && python manage.py migrate --noinput"
  collectstatic:
    command: "source /var/app/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "MakeRPG.settings"

packages:
  yum:
    git: []
    postgresql12-devel: []
