container_commands:
  01_migrate:
    command: "django-admin.py migrate"
  02_collectstatic:
    command: "django-admin.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "MakeRPG.settings"

packages:
  yum:
    git: []
    postgresql12-devel: []
